@import '../style.scss';

.calendar-container {
    display: flex;
    flex-direction: row;
}

.change-month-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100vh;
}